<?xml version="1.0" encoding="UTF-8"?>
<menu xmlns="http://www.hl7.org/fhir">
  <group name="Open Nursing Core IG">
    <page name="Home" url="index.html"/>
    <page name="Artifact Index" url="artifacts.html"/>
    <group name="Profiles">
      <page name="Nursing Care Plan" url="StructureDefinition-onc-nursing-care-plan.html"/>
      <page name="Nursing Assessment" url="StructureDefinition-onc-nursing-assessment.html"/>
      <page name="Braden Scale" url="StructureDefinition-onc-braden-scale-assessment.html"/>
      <page name="Nursing Problem" url="StructureDefinition-onc-nursing-problem.html"/>
      <page name="Patient Goal" url="StructureDefinition-onc-patient-goal.html"/>
      <page name="Nursing Intervention" url="StructureDefinition-onc-nursing-intervention.html"/>
      <page name="Goal Evaluation" url="StructureDefinition-onc-goal-evaluation.html"/>
    </group>
    <page name="Downloads" url="downloads.html"/>
  </group>
</menu>
