<menu>
  <menu-item href="index.html" label="Home"/>
  <menu-item href="toc.html" label="Table of Contents"/>
  <menu-item href="artifacts.html" label="Artifact Index"/>
  <menu-item label="Support">
    <menu-item href="downloads.html" label="Downloads"/>
    <menu-item href="history.html" label="History"/>
  </menu-item>
</menu>
